name: Build
on:
  push:
    paths-ignore:
      - 'CONTRIBUTING.md'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'CONTRIBUTING.md'
      - 'README.md'
  workflow_dispatch:
    inputs:
      deploy:
        description: 'Enable deployment'
        type: boolean

permissions: {}

env:
  SPHINXOPTS: --color --fail-on-warning --show-traceback

jobs:
  html:
    runs-on: ubuntu-24.04
    outputs:
      artifact-id: ${{ steps.upload.outputs.artifact-id }}
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Extract version
        id: version
        run: |
          v=$(sed -nE "s/^version\s*=\s*['\"]([0-9]+(\.[0-9]+){0,3})['\"]/\1/p" conf.py)
          if [[ -z $v ]]; then
            echo "::error::Could not find a valid version in conf.py"
            exit 1
          fi
          echo "version=$v" >> "$GITHUB_OUTPUT"
      - name: Install Python dependencies
        uses: actions/setup-python@v6
        with:
          pip-install: -r requirements.txt
      - name: Generate HTML
        run: |
          export SOURCE_DATE_EPOCH="$(git log -1 --format=%ct)"
          make html
      - name: Upload HTML
        id: upload
        uses: actions/upload-artifact@v6
        with:
          name: ndn-packet-spec-html
          path: _build/html
          if-no-files-found: error

  pdf:
    runs-on: ubuntu-latest
    container:
      image: texlive/texlive:latest
      options: --user 1001:1001
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Python dependencies
        uses: actions/setup-python@v6
        with:
          pip-install: -r requirements.txt
      - name: Generate PDF
        run: |
          export SOURCE_DATE_EPOCH="$(git log -1 --format=%ct)"
          make latexpdf
      - name: Upload PDF
        uses: actions/upload-artifact@v6
        with:
          name: ndn-packet-spec-pdf
          path: _build/latex/ndn-packet-spec.pdf
          if-no-files-found: error

  deploy:
    if: (github.event_name == 'push' && github.ref_name == 'master') || (github.event_name == 'workflow_dispatch' && inputs.deploy)
    needs: html
    uses: named-data/actions/.github/workflows/docs-deployment.yml@v1
    with:
      artifact-id: ${{ needs.html.outputs.artifact-id }}
      version: ${{ needs.html.outputs.version }}
    secrets: inherit
