name: Check links
on:
  pull_request:
    paths-ignore:
      - 'CONTRIBUTING.md'
      - 'README.md'
  schedule:
    # weekly on Wednesday
    - cron: '0 12 * * 3'
  workflow_dispatch:

permissions: {}

jobs:
  linkcheck:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Check external links
        run: make linkcheck SPHINXOPTS=--color
